backend:
  name: git-gateway

media_folder: "static/img"
public_folder: "/img"

collections:
  - name: "publications" # Used in routes, e.g., /admin/collections/blog
    label: "Publications" # Used in the UI
    folder: "content/publication" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    filter: 
      field: managed_content
      value: true
    fields: # The fields for each document, usually in front matter
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Abstract", name: "abstract", widget: "text"}
      - {label: "Authors (comma separated)", name: "authors", widget: "list", default: ["J. Grass"]}
      - {label: "Publish Date", name: "date", widget: "date", format: "YYYY-MM-DD"}
      - {label: "Publish Medium", name: "publication", widget: "string", default: ""}
      
      - label: "Publication Types"
        name: "publication_types"
        widget: list
        fields:
          - label: type
            name: Type
            widget: "select"
            options:
              - { label: "Chicago", value: "ORD" }
              - { label: "Paris", value: "CDG" }
              - { label: "Tokyo", value: "HND" }
      
      - {label: "Featured Image", name: "image", widget: "image", required: false}
      - {label: "This is a Draft", name: "draft", widget: "boolean", "default": true}
      - {label: "Highlight", name: "selected", widget: "boolean", "default": false}
      
      - {label: "URL to Code", name: "url_code", widget: "string", required: false}
      - {label: "URL to Data", name: "url_data", widget: "string", required: false}
      - {label: "URL to PDF", name: "url_pdf", widget: "string", required: false}
      - {label: "URL to Project", name: "url_project", widget: "string", required: false}
      - {label: "URL to Slides", name: "url_slides", widget: "string", required: false}
      - {label: "URL to Video", name: "url_video", widget: "string", required: false}
      
      - label: Other Links
        name: url_custom
        widget: list
        required: false
        fields:
          - {label: Name, name: name, widget: string, default: "DOI"}
          - {label: URL, name: url, widget: string, default: "https://doi.org/PUBLICATION_DOI"}
      
      - {label: "Managed Content", name: "managed_content", widget: "hidden", default: true}
      - {label: "Math", name: "math", widget: "hidden", "default": true}
      - {label: "Schema Type", name: "schema_type", widget: "hidden", default: "Article"}
